---
name: Build Agent

on:
  push:
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Docker Setup qemu-action
      uses: docker/setup-qemu-action@v3
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3

    - name: DockerHub Login
      uses: docker/login-action@v3
      with:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Github Login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./agent/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${{ github.repository }}-agent:latest
          ${{ github.repository }}-agent:${{ github.ref_name }}
